
thead th {
  font-weight: 700;
  text-align: center;
}

.col-check {
  width: 10%;
  text-align: center;
}

td.col-name {
  text-align: center;
  font-weight: 700;
  font-size: larger;
}

.table .label {
  display: inline-block;
}

.table td {
  vertical-align: middle !important;
}

.list-box-controls {
  padding: 5px 10px;
}

.breadcrumb {
  border-top: 3px solid #3c8dbc;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-color: #fff;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
}

.box-profile .profile-table {
  border-top: 1px solid #f4f4f4;
}
.box-profile .profile-table td {
  border-top: 0;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 5px !important;
  word-break: break-all;
  word-wrap: break-word;
  word-spacing: 15px;
}

.box-profile .profile-table td:first-child {
  font-weight: bold;
  width: 70px;
}

.box-profile .profile-table td:nth-child(2) {
  text-align: right;
}

.contest-box .box-footer {
  border-top: 0;
  padding: 5px 3px 10px 3px !important;
  vertical-align: middle;
}

.awards-table th,
.awards-table td {
  text-align: center;
  vertical-align: middle !important;
}

.widget-user-header .front {
  margin-right: 5px;
  width: 80px;
  display: inline-block;
}
.widget-user-header .front .fa {
  margin-right: 2px;
}