{% extends "admin/base.html" %}

{% block head %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
      <div class="box box-primary">
        <div class="box-body box-profile">
          <h3 class="text-center">2015年ACM-ICPC亚洲区域赛北京站</h3>
          <p class="text-muted text-center">2015年11月21日 - 2015年11月22日</p>
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>竞赛系列</b> <span class="pull-right">ACM-ICPC</span>
            </li>
            <li class="list-group-item">
              <b>主办</b> <span class="pull-right">北京大学</span>
            </li>
            <li class="list-group-item">
              <b>承办</b> <span class="pull-right"></span>
            </li>
          </ul>
          <a href="#" class="btn btn-primary btn-block"><b>管理奖项</b></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box box-primary">
        <div class="box-body box-profile">
          <h3 class="text-center">2014年ACM-ICPC亚洲区域赛西安站</h3>

          <p class="text-muted text-center">2014年10月21日 - 2014年10月22日</p>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>竞赛系列</b> <span class="pull-right">ACM-ICPC</span>
            </li>
            <li class="list-group-item">
              <b>主办</b> <span class="pull-right">西北工业大学</span>
            </li>
            <li class="list-group-item">
              <b>承办</b> <span class="pull-right"></span>
            </li>
          </ul>
          <a href="#" class="btn btn-primary btn-block"><b>管理奖项</b></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}

{% endblock %}